@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/TestSignifier-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/TestSignifier-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Signifier";
  src: url("/fonts/TestSignifier-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}